/*
Plugin Name: Battlefield 3 Info
Description: Style some components of the widget and admin area
*/

.bf3infobox-widget img {
    box-shadow: none !important;
}

.bf3infobox-widget table {
    margin: 0 auto;
    border: 0;
}

.bf3infobox-widget tr {
    border: 0;
}

.bf3infobox-widget tr.odd {
    background-color: #F0F0F0;
}

.bf3infobox-widget td {
    padding: 5px;
    border: 0;
    vertical-align: middle;
}

